# Ingestion & Local Database
sqlalchemy
pydantic>=2.0,<2.10
pydantic-settings
python-dotenv
beautifulsoup4
typer
rich
jsonschema
pytesseract
Pillow
requests
httpx

# Model Context Protocol
mcp

# Vector Database
chromadb>=0.5.0

# Local LLM Inference
llama-cpp-python>=0.2.90

# Gradio Frontend App
gradio>=4,<5
huggingface-hub<0.27.0

# Server-less Cloud Triggering
modal
